html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

button:focus {
    outline: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    border-style: outset;
    border-width: 1px;
    background-color: rgb(211, 211, 211);
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.6);
    padding: 4px 10px;
    margin: 1px;
}

button#ac, button#clear {
    background-color: #df6f75;
    border-color: #a75155;
}

button#ac:active, button#clear:active {
    background-color: #c56065;
}

button#buttonOp {
    background-color: #cfc957;
    border-color: #858234;  
}

button#buttonOp:focus {
    background-color: #afac44;
    border-style: inset;
}

button#buttonCalc {
    background-color: #74c94d;
    border-color: #62a742;
}

button#buttonCalc:active {
    background-color: #62aa41;
}

button#buttonNum {
    background-color: #b9d9dd;
    border-color: #869a9e;
}

button#buttonNum:active {
    background-color: #9ab5b9;
}

button:active {
    border-style: inset;
}

.calcContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
}

.calcBackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 175, 175);
    border-style: outset;
    border-width: 1px;
    border-color: #888888;
    box-shadow: 1px 1px 5px #616161;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 160px;
}

.numContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 160px;
}

#display {
    background-color: #aed4af;
    color: #607760;
    border-radius: 5px;
    margin: 6px;
    padding: 5px 4px;
    border-style: inset;
    border-width: 1px;
    border-color: #84a185;
    overflow-wrap: break-word;
    text-align: right;
    width: 136px;
    min-height: 28px;
    font-size: 24px;
}

